# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
*.pyc
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# JavaScript tools and libraries
bower_components/
node_modules/

# Files processed by several tools
NotarDeploy/

# Private development data
private/
